{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["airbnb-base", "plugin:jest/recommended"],
    "rules": {
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "ts": "never"
            }
        ],
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "max-len": ["error", { "code": 200 }],
        "indent": ["error", 4]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts"]
            }
        }
    },
    "overrides": [
        // These overrides are specific to this repository and should not be copied into other repos without consideration
        {
            "files": ["**/__tests__/**", "**/__mocks__/**"],
            "rules": {
                "no-underscore-dangle": "off", // supports Jest standard of mocking fns starting with "__"
                "global-require": "off"
            }
        }
    ]
}
